ul.messages{
    margin-top: 20px;
}

ul.messages li{
padding: 20px;
font-family: 'Ubuntu', sans-serif;
}

ul.messages li:hover{
    background-color: lightblue;
}

ul.nomessage{
    width: 100%;
    margin: auto;
}

ul.nomessage li{    
    margin:15%;
}