<div id="message_body">
  <ul class="messages" *ngIf="isMessageExists;else noMessageContent">
    <li *ngFor="let msg of messageArray">
      {{msg.text}}
    </li>

    <!-- <li>
    <div class="username">
      gwen.demarco
    </div>
    <div class="message">
      Guy, you have a last name.
    </div>
  </li>
  <li>
    <div class="username">
      guyfleegman.crewmannumber6
    </div>
    <div class="message">
      DO I? DO I?
    </div>
    <div class="message">
      For all you know, I'm "Crewman Number Six"!
    </div>
  </li> -->
  </ul>

  <ng-template #noMessageContent>
    <ul class="nomessage">
      <li>No message available.</li>
    </ul>
  </ng-template>
</div>